/*============================================================ REGISTER ==============================================*/

.registrar {
    width: 100%;
    max-width: 850px;
    margin: auto;
}

.registrar form {
    margin: auto 3%;
}

.registrar form .btn {
    background-color: #25383b;
    transition: all 0.5s;
    border: none;
}

.registrar form .btn:hover {
    background-color: #105E6D;
    border: none;
}

.contenedor-acompañamiento {
    background-image: url('../../../assets/registro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.img-registro {
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.col-img {
    background-color: #25383b;
}
