/*============================================================ REGISTER ==============================================*/

.registrar {
    width: 100%;
    max-width: 350px;
    margin: auto;
}

.registrar form {
    margin: auto 3%;
}

.registrar form .btn {
    background-color: #25383b;
    transition: all 0.5s;
    border: none;
}

.registrar form .btn:hover {
    background-color: #105E6D;
    border: none;
}
