p {
    margin: 0;
    margin-right: 10px;
}

svg {
    cursor: pointer;
}

.input-group {
    flex-wrap: nowrap;
}


/* input {
    width: 250px;
    height: 30px;
    border-left: 0;
    border-right: 0;
    border-top: 0; */


/* background-color: rgb(218, 221, 230); */


/* border-radius: 5px;
    padding: 0 0 0 10px; */


/* box-shadow: -1px 6px 5px 0px rgba(0, 0, 0, 0.75); */


/* border: 0 solid black;
    border-bottom-width: 1px; */


/* } */


/* input:disabled {
    background-color: rgb(182, 185, 192);
} */


/* select {
    border-radius: 5px;
    height: 30px;
} */

.contenedor {
    /* max-width: 800px; */
    width: 100%;
    margin: auto;
    margin-top: 2%;
    /* display: flex;
    justify-content: center; */
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: -1px 6px 5px 0px rgba(0, 0, 0, 0.75);
}

#tabla-productos .colum-acciones {
    width: 5%;
}

#tabla-productos tbody td .elementos-acciones svg {
    display: none;
    cursor: pointer;
    transition: all 0.1s;
}

#tabla-productos tbody td .elementos-acciones svg:hover {
    transform: scale(1.1);
}

#tabla-productos tbody td .elementos-acciones {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#tabla-productos tr:hover>td>div>svg {
    display: block;
}

.contenedor .elementos-informacion {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenedor .elemento-info {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.contenedor .elemento-info p {
    margin: 0;
    margin-right: 10px;
}


/* .contenedor .elemento-info input {
    width: 250px;
    height: 30px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    background-color: rgb(218, 221, 230);
    border-radius: 5px;
    padding: 0 0 0 10px;
}

.contenedor .elemento-info input:disabled {
    background-color: rgb(182, 185, 192);
} */

.botones {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/*=========Modal=========*/

.modal-dialog {
    max-width: 1000px;
}

.modal-body {
    padding-left: 2rem;
    padding-right: 2rem;
}

.modal-body .dato-producto {
    display: flex;
    align-items: center;
}


/* .modal-body .referencia button {
    margin-left: 10px;
} */

.modal-body .referencia .contenedor-boton {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    margin-top: 10px;
}

.modal-body .referencia .contenedor-boton button {
    display: flex;
    align-items: center;
    color: #0062a9;
    border-color: #0062a9;
}

.modal-body .referencia .contenedor-boton button:hover {
    color: white;
    background-color: #0062a9;
}

.modal-body .referencia .contenedor-boton button:disabled {
    pointer-events: none;
}

.modal-body .referencia .contenedor-boton button svg {
    margin-right: 2px;
}

.modal-body .pares-datos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}

.modal-body .pares-datos p {
    width: 80px;
}


/* .modal-body .pares-datos .dato-producto select {
    width: 250px;
} */