<div id="container-login">
    <div class="d-flex" id="wrapper">
        <div id="sidebar-wrapper" *ngIf="isLoggedIn">
            <div class="sidebar-heading">ConfeccionesApp</div>
            <div class="list-group list-group-flush">
                <div>

                    <a href="/home" class="list-group-item sidebar-item " routerLinkActive="active" routerLink="home">
                        <svg class="bi bi-house-door" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 01.708 0l6 6a.5.5 0 01.146.354v7a.5.5 0 01-.5.5H9.5a.5.5 0 01-.5-.5v-4H7v4a.5.5 0 01-.5.5H2a.5.5 0 01-.5-.5v-7a.5.5 0 01.146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 01.5-.5h3a.5.5 0 01.5.5v4h3.5V7.707L8 2.207l-5.5 5.5z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5z" clip-rule="evenodd"/>
                      </svg> Home
                    </a>
                </div>

                <div *ngIf="showAdminBoard">
                    <a class="list-group-item sidebar-item " routerLinkActive="active" routerLink="listEmpleados">
                        <svg class="bi bi-card-checklist" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 00-.5.5v9a.5.5 0 00.5.5h13a.5.5 0 00.5-.5v-9a.5.5 0 00-.5-.5zm-13-1A1.5 1.5 0 000 3.5v9A1.5 1.5 0 001.5 14h13a1.5 1.5 0 001.5-1.5v-9A1.5 1.5 0 0014.5 2h-13z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M7 5.5a.5.5 0 01.5-.5h5a.5.5 0 010 1h-5a.5.5 0 01-.5-.5zm-1.496-.854a.5.5 0 010 .708l-1.5 1.5a.5.5 0 01-.708 0l-.5-.5a.5.5 0 11.708-.708l.146.147 1.146-1.147a.5.5 0 01.708 0zM7 9.5a.5.5 0 01.5-.5h5a.5.5 0 010 1h-5a.5.5 0 01-.5-.5zm-1.496-.854a.5.5 0 010 .708l-1.5 1.5a.5.5 0 01-.708 0l-.5-.5a.5.5 0 01.708-.708l.146.147 1.146-1.147a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                      </svg> Usuarios</a>
                </div>

                <div *ngIf="showAdminBoard">
                    <a href="/user" class="list-group-item sidebar-item" routerLinkActive="active" *ngIf="isLoggedIn" routerLink="user">User</a>
                </div>
                <div *ngIf="showAdminBoard">
                    <a href="/compra" class="list-group-item sidebar-item" routerLinkActive="active" *ngIf="isLoggedIn" routerLink="compra">
                        <svg class="bi bi-bag" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M14 5H2v9a1 1 0 001 1h10a1 1 0 001-1V5zM1 4v10a2 2 0 002 2h10a2 2 0 002-2V4H1z" clip-rule="evenodd"/>
                        <path d="M8 1.5A2.5 2.5 0 005.5 4h-1a3.5 3.5 0 117 0h-1A2.5 2.5 0 008 1.5z"/>
                      </svg> Compra</a>
                </div>

                <div>
                    <a href="/sale" class="list-group-item sidebar-item " routerLinkActive="active" routerLink="sale">Ventas</a>
                </div>

            </div>

        </div>


        <div class="btn-inicio-sidebar" id="menu-toggle">&#9776;</div>




        <div id="page-content-wrapper">
            <nav *ngIf="isLoggedIn" class="navbar navbar-expand navbar-dark ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>


                <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">

                    <li class="nav-item" routerLinkActive="active">
                        <a href="/login" class="nav-link" routerLink="login">Login</a>
                    </li>
                </ul>


                <ul class="navbar-nav ml-auto nombreuser" *ngIf="isLoggedIn">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle dropdown-user" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{ username }}
                    </a>
                        <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                            <a href="/profile" class="dropdown-item item-userdropdawn" routerLink="profile">Editar perfil</a>
                            <a href class="dropdown-item item-userdropdawn" (click)="logout()">Cerrar sesión</a>
                        </div>
                    </li>
                </ul>
            </nav>

            <div class="container-fluid">

                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>