<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Nueva venta |<a [routerLink]="['/sale']" class="btn btn-default">Volver</a></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <form role="form">
            <legend>Datos de la venta</legend>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="usuario">ID Usuario</label>
                <input autofocus type="text" class="form-control" disabled="disabled" required [(ngModel)]="venta.userid" name="userid" #userid>
              </div>
              <div class="form-group col-md-6">
                <label for="almacen">ID Almacen</label>
                <select class="form-control" required [(ngModel)]="venta.almacenid" name="almacenid" #almacenid [disabled]="almacenSelect">
                  <option [ngValue]="null" selected></option>
                  <option *ngFor="let almacen of listaAlmacenes" [ngValue]="almacen.id" >{{almacen.name}}</option>
                </select>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="total">Total</label>
                <input disabled required type="text" name="precio" class="form-control" id="precio" [value]="venta.neto |currency">
              </div>
            </div>

            <div class="col-md-12">
              <hr>
              <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                data-target="#listaProductos" [disabled]="(venta.almacenid==null)" (click)="listarAlamacen()">Agregar producto</button>

              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Precio unitario</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio neto</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let producto of productosVenta">
                    <th scope="row">{{producto.referencia}}</th>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.estado}}</td>
                    <td>{{producto.precioVenta |currency}}</td>
                    <td>
                      {{producto.cantidad}}
                      <!--  
                      
                        
                      -->
                    </td>
                    <td>{{producto.precioVenta * producto.cantidad |currency}}</td>
                    <td>
                      <div class="elementos-acciones">
                        <svg  (click)="deleteProduct(producto.referencia)" class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path
                              d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z" />
                          <path fill-rule="evenodd"
                              d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                              clip-rule="evenodd" />
                        </svg>
                    </div>
                  </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="(productosVenta.length == 0 || venta.almacenid==null)" (click)="saveSale()">Guardar</button>


            <!-- Modal -->
            <div class="modal fade" id="listaProductos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" id="ancho">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Listado de productos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h6>{{detalle}}</h6>
                    <!-- <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="buscarProducto"> -->
                    <form ng-app="myApp" name="myForm" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Producto</th>
                          <th scope="col">Precio</th>
                          <th scope="col">Cantidad disponible</th>
                          <th scope="col">Acción</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of items">
                          <td>{{item[0].referencia}}</td>
                          <td>{{item[0].precioVenta |currency}}</td>
                          <td>
                            <!-- {{item[0].cantidadDisponible}} -->
                            <input type="number" name="first" ngModel required #first="ngModel" ng-model="myInput">
                          </td>
                          <td>
                            <!-- <p>The input's valid state is:</p>
                            <h1>{{myForm.first.$valid}}</h1> -->
                            <button type="submit" class="btn btn-sm btn-outline-primary" data-dismiss="modal" (click)="saveProduct(item[0], f)">Agregar producto</button>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </form>
                  </div>
                  <div class="modal-footer">                    
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
